{% extends "base.html" %}
{% load static %}
{% block title %}
{{ title }}
{% endblock title %}

{% block codemirror_files %}
<script type="text/javascript" src="{% static 'jquery/jquery-3.7.1.min.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'codemirror/css/codemirror.min.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'codemirror/css/dracula.min.css' %}">
<script type="text/javascript" src="{% static 'codemirror/js/codemirror.min.js' %}"></script>
<script type="text/javascript" src="{% static 'codemirror/js/python.min.js' %}"></script>
<script type="text/javascript" src="{% static 'codemirror/js/matchbrackets.min.js' %}"></script>
<script type="text/javascript" src="{% static 'codemirror/js/closebrackets.min.js' %}"></script>
{% endblock codemirror_files %}

{% block content %}

<form method="post">
    {% with form=form %}
    {% include "includes/form.html" %}
    {% endwith %}
    <button type="submit">Submit</button>
</form>

<script>
    const cache_url = "{% url 'duel:cache-code' uidb %}";
    const csrf_token = "{{ csrf_token }}";
</script>
<script type="text/javascript" src="{% static 'code_editor.js' %}"></script>


{% endblock content %}