{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Бойня!!!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{% static 'jquery/jquery-3.7.1.min.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'codemirror/css/codemirror.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'codemirror/css/dracula.min.css' %}">
    <script type="text/javascript" src="{% static 'codemirror/js/codemirror.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'codemirror/js/python.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'codemirror/js/matchbrackets.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'codemirror/js/closebrackets.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'resizable-sections.js' %}"></script>
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "swiper/css/swiper-bundle.min.css" %}" rel="stylesheet">
    <link href="{% static "style.css" %}" rel="stylesheet">
</head>

<body class="flex-container">
    <nav class="navbar navbar-expand-lg navbar-dark p-3">
        <div class="container-fluid">
            <img src="{% static "logo.jpg" %}" alt="" height="37" class="d-inline-block align-text-top">
        </div>
    </nav>

    <div class="content">
        <div class="resizable-column" id="column1">
            Column 1
        </div>
        <div class="resizer" id="resizer1">
            <div class="circles">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>
        <div class="flex-vertical" id="column2">
            <div class="resizable-column" id="code-section">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit">Submit</button>
                    <div class="code">
                        {{ form.code }}
                    </div>
                </form>
            </div>
            <div class="resizer2" id="resizer3">
                <div class="circles2">
                    <div class="circle2"></div>
                    <div class="circle2"></div>
                    <div class="circle2"></div>
                </div>
            </div>
            <div class="resizable-column" id="tests-section">
                Column 4
            </div>
        </div>
        <div class="resizer" id="resizer2">
            <div class="circles">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>
        <div class="resizable-column" id="column3">
            Column 3
        </div>
        <script>
            const cache_url = "{% url 'duel:cache-code' uidb %}";
            const csrf_token = "{{ csrf_token }}";
        </script>
        <script type="text/javascript" src="{% static 'code_editor.js' %}"></script>
    </div>
    </div>
</body>

</html>