{% load static %}
<div class="modal-content">
    {% csrf_token %}
    <div class="modal-body">
    <span data-bs-dismiss="modal" class="close">&times;</span>
    <h3>Пригласить участников</h3>
    <br>
    <div class="tab">
        <input {% if checked_first %} checked {% endif %} id="tab-btn-1" name="tab-btn" type="radio" value="">
        <label for="tab-btn-1">Незнакомец</label>
        <input {% if not checked_first %} checked {% endif %} id="tab-btn-2" name="tab-btn" type="radio" value="">
        <label for="tab-btn-2">Друг</label>
        <div class="tab-content" id="content-1">
            <form hx-post="{{ request.path }}" hx-swap="none">
                <input name="form_type" value="form1" style="display: none"></input>
                <input name="game_id" value="{{ uidb }}" style="display: none"></input>
                {% with form=form1 %}
                {% include "includes/form.html" %}
                {% endwith %}
                <button class="gradient-button" type="submit" name="submit_button">Пригласить</button>
            </form>
        </div>
        <div class="tab-content" id="content-2">
            <form hx-post="{{ request.path }}" hx-swap="none">
                {% csrf_token %}
                <input name="form_type" value="form2" style="display: none"></input>
                <input name="game_id" value="{{ uidb }}" style="display: none"></input>
                {% for friend in friends.all %}
                    <input type="checkbox" id="{{ friend.username }}{{ friend.id }}" name="friend_user_{{ friend.username }}{{ friend.id }}" value="{{ friend.id }}">
                    <label for="{{ friend.username }}{{ friend.id }}">{{ friend.username }}</label>
                {% endfor %}
                <button class="gradient-button" type="submit" name="submit_button">Пригласить</button>
            </form>
        </div>
      </div>
    </div>
</div>