{% extends "base.html" %}
{% load static %}
{% block title %}
{{ title }}
{% endblock title %}
{% block content %}
<div class="lobby">
  {% if are_you_leader %}
  <span class="text-white cur-player-status">Ты лидер</span>
  {% else %}
  <span class="text-white cur-player-status">Ты участник</span>
  {% endif %}
  <div class="participants">
      <span class="text-white participants__title">Участники</span>
      {% if are_you_leader %}
        <link rel="stylesheet" type="text/css" href="{% static 'popup/popup.css' %}">
        <div id="modal" class="modal fade">
          <div id="dialog" class="modal-dialog" hx-target="this"></div>
        </div>
        <button class="menu-header__link btn btn-primary" hx-get="{% url 'lobby:invite-users' game_id %}" hx-target="#dialog">Пригласить участников</button>
      {% endif %}
      <ul class="participants__list">
        {% for participant in participants %}
          <li class="participants__item">{{ participant }}</li>
        {% endfor %}
      </ul>
  </div>
  {% if are_you_leader %}
  <form class="start-game-form" method="post">
    {% csrf_token %}
    <button class="btn btn-primary" type="submit" id="start-button" style="background-color:green;color:white;">Начать игру</button>
  </form>
  {% endif %}
</div>
{% endblock content %}
