#parent_card {
  background-color: #343a39;
  border: none;
  border-top-left-radius: 0;
}

#note_card {
  background-color: #4d5051;
  margin: 2%;
}

#note_card:hover {
  border: 1px solid #77ddd0;
  transition: 0.3s;
  cursor: pointer;
}

.username {
  color: #e4ebec;
}

.title {
  color: #77ddd0;
}

.text {
  color: #d6d9d9;
}

.nav-link {
  background-color: #2c3130;
  color: #d6d9d9;
}

.nav-link:hover {
  color: #74decb;
  transition: 0.3s;
}

.no-posts {
  width: 35%;
  display: flex;
  margin: 2% 30%;
  font-size: 17px;
  color: #d6d9d9;
}

.create-post-btn {
  color: #2a2f2e;
  background-color: #46b094;
  border: none;
}

.create-post-btn:hover {
  color: #2a4f48;
  background-color: #74decb;
  transition: 0.7s;
}

.blog-title {
  text-align: center;
  margin-bottom: -2%;
  color: #d6d9d9;
}

.blog-title span {
  color: #74decb;
}