.header {
    /**/
}
.header__navbar {
    display: flex;
    justify-items: center;
    padding-bottom: 0;
}
.navbar-header__menu {
    display: flex;
    width: 100%;
    gap: 15px;
    list-style: none;
    margin: 0;
}
.navbar-header__menu-right {
    justify-content: right;
    align-items: center;
}
.menu-header__link {
    text-decoration: none;
    color: white;
}
.menu-header__link:hover {
    color: #74DECB;
    transition: .3s;
}
.menu-header__img {
    width: 20px;
    height: 20px;
}
.menu-header__item {
    position: relative;
 }
.menu-header__notifications-list {
    padding: 10px;
    position: absolute;
    top: 150%;
    right: 0;
    border-radius: 10px;
    list-style: none;
    background-color: #414d4a;
    width: 150px;
    color: white;
}
.menu-header__notifications-list__list {
    list-style: none;
}
.menu-header__notifications-list__remove {
    width: 20px;
    height: 20px;
}
@media(max-width: 991.5px) {
    .navbar-header__menu {
        background-color: #2e3433;
    }
}

.gradient-button {
    float: right;
    margin: -2% 3%;
    background: linear-gradient(to right, #77ddd0 0%, #92c789 100%);
    border: none;
    border-radius: 10px;
    color: #352727;
    width: 150px;
    padding: 7px 25px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .gradient-button:hover {
    transition: 0.3s;
    color: black;
    background: linear-gradient(to right, #7de3bc 0%, #9ad88f 100%);
  }