{% extends "base.html" %}
{% block title %}
{{ title }}
{% endblock title %}
{% block content %}
<div class="lobby">
  {% if are_you_leader %}
  <span class="text-white cur-player-status">Ты лидер</span>
  {% else %}
  <span class="text-white cur-player-status">Ты участник</span>
  {% endif %}
  <div class="participants">
      <span class="text-white participants__title">Участники</span>
      <ul class="participants__list">
        {% for participant in participants %}
          <li class="participants__item">{{ participant }}</li>
        {% endfor %}
      </ul>
  </div>
  {% if are_you_leader %}
  <form class="start-game-form" method="post">
    {% csrf_token %}
    <button class="btn btn-primary" type="submit" id="start-button" style="background-color:green;color:white;">НАЧАТЬ
      ИГРУ
    </button>
  </form>
  {% endif %}
</div>
{% endblock content %}
