{% extends "base.html" %}
{% block title %}
  {{ title }}
{% endblock title %}
{% block content %}
<div class="main">

    <h1 class="text-white">Главная страница</h1>
    <div class="main__top-users">
        <span class="main__top__title">Элита платформы</span>
        <table border="1" class="main__top__table">
            <caption>Элита платформы</caption>
            <tr>
             <th>Никнейм</th>
             <th>Рейтинг</th>
             <th>Игр выиграно</th>
             <th></th>
            </tr>
            {% for user in top_users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.rating }}</td>
                    <td>{{ user.games_won }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% if note_of_a_week %}
        <div class="main__note-of-a-week">
            <span class="main__note-of-a-week__title">Запись недели</span>
            <div>
                Author: {{ note_of_a_week.author }} <br> Note: <a href="{% url "notes:detail" note_of_a_week.id %}">{{ note_of_a_week.title }}</a>
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}
