{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'popup/popup.css' %}">
</head>
<body>
    <div id="popup-form" class="popup-form">
      <div class="popup-content">
        <span class="close">&times;</span>
        <h2>Настройки соревнования</h2>
        <form id="settings-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Сохранить</button>
          </form>
      </div>
    </div>
    <script>
        const settings_url = "{% url 'lobby:gameplay-settings' %}";
    </script>
    <script src="{% static 'popup/popup.js' %}"></script>
</body>
</html>