{% csrf_token %}
{% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
      <div>{{ error }}</div>
    {% endfor %}
  </div>
{% endif %}
{% for field in form %}
  <div class="mb-3">
    <label for="{{ field.id_for_label }}_{{ id_add }}" class="form-label">{{ field.label }}</label>
    <p id="{{ field.id_for_label }}_{{ id_add }}" aria-describedby="{{ field.id_for_label }}_help_{{ id_add }}">{{ field }}</p>
    {% if form.is_bound and field.errors %}
      {% for error in field.errors %}
        <div class="invalid-feedback d-block">
          {{ error }}
        </div>
      {% endfor %}
    {% endif %}
    <p style="color: #DCDCDC" id="{{ field.id_for_label }}_help_{{ id_add }}" class="form-text">{{ field.help_text }}</p>
  </div>
{% endfor %}

{% if messages %}
  {% for message in messages %}
    <p> {{ message }} </p>
  {% endfor %}
{% endif %}