{% load static %}
<div class="card" id="note_card">
    <div class="card-body" style="display: flex; justify-content: space-between">
        <div style="display: flex">
            <img id="ava" alt="" src={% static "images/yanami_ray_yo.png" %} height="50" width="50" loading="lazy"
                class="rounded-circle">
            <div style=" margin-left: 10px">
                <h5><span class="username">{{ note.author.username }}: </span><span
                        class="title">{{ group.title }}</span></h5>
            </div>
        </div>
        <p><img style="float:right" src="{% static "images/icons/blog_star.png" %}" alt="star" height="30" width="30">
        </p>
    </div>
</div>