{% load static %}
<header class="header">
  <ul>
    <li>
      <a href="{% url 'homepage:main' %}">Главная</a>
    </li>
    {% if request.user.is_staff or request.user.is_admin %}
      <li>
        <a href="{% url 'homepage:test_code' %}">Тестик</a>
      </li>
    {% endif %}
    <li>
      <link rel="stylesheet" type="text/css" href="{% static 'popup/popup.css' %}">

      <div id="modal" class="modal fade">
        <div id="dialog" class="modal-dialog" hx-target="this"></div>
      </div>

      <button hx-get="{% url 'lobby:gameplay-settings' %}" hx-target="#dialog">
        Начать дуэль
      </button>

      <script src={% static "htmx/htmx.min.js" %}></script>
      <script src={% static "popup/popup.js" %}></script>
    </li>
  </ul>
</header>