{% load static %}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <h4 style="text-align: center">Легенда и наша политика</h4>
            <img style="display: block; margin: auto" id="raccoon" alt="" src={% static "images/sad-raccoon.png" %}
                height="100" loading="lazy">
            <div><span style="color: #77c0dd;">Ходят слухи, что древние греки очень любили спать и думать.
                    Говорят, они делали это каждый день, а иногда по нескольку раз!
                    И настигло их массовое вымирание. В те далекие времена еще не было
                    отважных джангистов, которые вывели из программистской культуры
                    это странное слово "сон".</span>
                <p>Регистрируясь, вы соглашаетесь с политикой нашей платформы и можете не
                беспокоиться, участь древних греков вам не страшна.
                Присоединяйтесь к нам, изучайте Django, ни в коем случае не спите, но
                думать у нас полезно(в разумных количествах).</p> <span style="color: #77c0dd;">Спасибо, что выбрали
                    нас!</span>
            </div>
        </div>
    </div>
</div>