{% extends "base.html" %}
{% block title %}Вход{% endblock %}
{% block content %}
<div class="container py-5 h-100 w-50">
    <div class="card shadow-2-strong bg-dark" style="border-radius: 1rem;">
        <div class="card-body p-5" style="color: #DCDCDC">
            <h2 class="text-center">Вход</h2>
            <form method="post" enctype="multipart/form-data">
                {% with form=form %}
                  {% include "includes/form.html" %}
                {% endwith %}
                <button style="width: 100%" type="submit" class="btn btn-outline-light mb-2 mt-1">Войти</button>
                <div>
                    <p class="mb-0">Еще нет аккаунта? <a style="color: #DCDCDC" href="{% url "users:signup" %}"
                            class="fw-bold">Регистрация</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}