{% extends "base.html" %}
{% block title %}
  Регистрация
{% endblock %}
{% block content %}
<div id="register-modal" class="modal fade">
  <div id="register-dialog" class="modal-dialog" role="dialog">
    {% include "includes/register-dialog.html" %}
  </div>
</div>
  <div class="container py-5 h-100 w-50">
    <div class="card shadow-2-strong bg-dark" style="border-radius: 1rem">
      <div class="card-body p-5" style="color: #DCDCDC">
        <h2 class="text-center">Регистрация</h2>
        <form method="post" enctype="multipart/form-data">
          {% with form=form %}
            {% include "includes/form.html" %}
          {% endwith %}
          <button style="width: 100%" type="submit"
                  class="btn btn-outline-light mb-2 mt-1">Зарегистрироваться
          </button>
          <div>
            <p class="mb-0">Уже есть аккаунт? <a style="color: #DCDCDC" href="{% url "users:login" %}"
                                                 class="fw-bold">Вход</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>$(document).ready(function(){
    $("#register-modal").modal('show');
});</script>
{% endblock content %}