{% load static %}
<div class="card" id="note_card">
    <div class="card-body" style="display: flex; justify-content: space-between">
        <div style="display: flex">
            <img id="ava" alt=""
                src={% if group.image %}"{{ group.image.url }}"{% else %}{% static "images/group-avatar2.jpg" %}{% endif %}
                height="50" width="50" loading="lazy" class="rounded-circle">
            <div style=" margin-left: 10px">
                <h5><span class="title">{{ group.title }}</span> <span style="color: #869090">| {{ group.name }}</span>
                </h5>
                <div style="color: #869090">{{ group.theme }}</div>
            </div>
        </div>
        <p style="float:right; color:#D6D9D9">Участники: {{ group.group.count }}</p>
    </div>
</div>