{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="no-posts">
    <img id="raccoon" alt="" src={% static "images/sad-raccoon.png" %} height="170" loading="lazy">
    <div>
        <p><span style="color: #74decb">В</span>ы уверены, что хотите удалить пост?</p>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="confirm_delete">
            <button type="submit" class="create-post-btn btn btn-primary">Да, удалить пост</button>
            <a href="{% url 'notes:blog-my' %}"><button class="create-post-btn btn btn-primary">Не надо</button></a>
          </form>
    </div>
</div>
{% endblock %}