{% extends "base.html" %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <h1 class="blog-title">Arena<span>Blog<span></h1>
        <ul class="nav nav-tabs" style="border: none;margin-bottom: -2px">
            <li class="nav-item">
                <a class="nav-link" {% if tab == "all" %}style="background-color: #343a39;border:none" {% else %}
                    style="border:none" {% endif %} href={% url "notes:blog-all" %}>Популярное</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" {% if tab == "my" %}style="background-color: #343a39;border: none;" {% else %}
                    style="border:none" {% endif %} href={% url "notes:blog-my" %}>Мои посты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="border:none" href={% url "notes:create" %}>Создать публикацию</a>
            </li>
        </ul>
        <div class="card" id="parent_card">
            <div class="card-body">
                {% for note in notes %}
                <a style="text-decoration:none" href={% url "notes:detail" note.id %}>{% include "includes/note.html" %}</a>
                {% empty %}
                <div class="no-posts">
                    <img id="raccoon" alt="" src={% static "images/sad-raccoon.png" %} height="170" loading="lazy">
                    <div>
                        <p><span style="color: #74decb">Е</span>нот грустит без новых знаний( Поделитесь своим опытом!
                            Опубликуйте первый пост!</p>
                        <a href={% url "notes:create" %}><button class="create-post-btn btn btn-primary">Создать
                                публикацию</button></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
      document.querySelectorAll(".like-form").forEach((el) => { el.addEventListener("submit", function(event) {
          event.preventDefault();
          var formData = new FormData(this);
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "{% url 'notes:like' %}", true);
          xhr.onload = function() {
              if (xhr.status === 200) {
                  console.log(xhr.responseText);
              } else {
                  console.error('Request failed: ' + xhr.status);
              }
          };
          xhr.send(formData);
      })});
      document.querySelectorAll(".dislike-form").forEach((el) => { el.addEventListener("submit", function(event) {
          event.preventDefault();
          var formData = new FormData(this);
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "{% url 'notes:dislike' %}", true);
          xhr.onload = function() {
              if (xhr.status === 200) {
                  console.log(xhr.responseText);
              } else {
                  console.error('Request failed: ' + xhr.status);
              }
          };
          xhr.send(formData);
      })});
    </script>
</div>
{% endblock %}
