{% extends "base.html" %}
{% load static %}
{% block title %}
{{ user.username }}: изменить профиль
{% endblock %}
{% block content %}
<div class="container py-3 h-50 w-50">
    <div class="card shadow-2-strong bg-dark" style="border-radius: 1rem;">
        <div class="card-body" style="color: #DCDCDC; display: flex">
            <img alt=""
                src={% if request.user.image %}"{{ request.user.image.url }}"{% else %}{% static "images/avatar.png" %}{% endif %}
                height="140" width="140" loading="lazy" class="rounded-circle"
                style="margin: 10px; border: 2px solid #77ddd0; outline-offset: 2px;">
            <form method="post" enctype="multipart/form-data" style="margin: auto">
                {% with form=form %}
                {% include "includes/form.html" %}
                {% endwith %}
                <button style="width: 100%" type="submit" class="btn btn-outline-light mb-2 mt-1">Сохранить</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}