* {
    padding: 0;
}

ul {
    padding: 0;
}

.container-fluid {
    padding: 0;
}

body {
    height: 100%;
}

.wrapper {
    position: relative;
    height: 100%;
    min-height: 100vh;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    background-color: #2e3634;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #252b2a;
}



page.page-404 {
    display: flex;
}

.page-404_link {
    text-decoration: none !important;
}
