* {
    padding: 0;
}

ul {
    padding: 0;
}

.container-fluid {
    padding: 0;
}

body {
    height: 100%;
}

.wrapper {
    position: relative;
    height: 100%;
    min-height: 100vh;
}

.CodeMirror {
    margin-top: 40px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    background-color: #2e3634;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #252b2a;
}

.content {
    display: flex;
    flex: 1;
}

.resizable-column {
    overflow: auto;
    white-space: nowrap;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #77ddd0;
}

#column1 {
    background-color: #252b2a;
    width: 30%;
}

#column2 {
    background-color: #343a39;
    width: 50%;
}

#column3 {
    background-color: #343a39;
    width: 20%;
}

#code-section {
    height: 70%;
}

#tests-section {
    background-color: #252b2a;
    height: 30%;
}

.resizer {
    position: relative;
    width: 10px;
    background-color: #252b2a;
    cursor: ew-resize;
}

.resizer2 {
    position: relative;
    height: 10px;
    background-color: #252b2a;
    cursor: ns-resize;
}

.circle,
.circle2 {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: #8a9290;
}

.circle {
    margin: 4px auto;
}

.circle2 {
    margin: 3px;
}

.circles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

.circles2 {
    display: flex;
    justify-content: center;
}

/* tasks sections */

.li_task {
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background-color: #424c4a;
  margin: 0 1em;
  display: inline-block;
  color: #c1c8c9;
  position: relative;
}

.li_task_active {
  background: #77ddd0;
  color:#252b2a;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  margin: 0 1em;
  display: inline-block;
  position: relative;
}
