{% extends "base.html" %}
{% load static %}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
  <form method="post" enctype="multipart/form-data" {% if form_action %}action="{% url form_action %}" {% endif %}>
    {% csrf_token %}
    {% with form=form messages=none id_add="1" %}
      {% include "includes/form.html" %}
    {% endwith %}

    {% if messages %}
      {% for message in messages %}
        <p> {{ message }} </p>
      {% endfor %}
    {% endif %}

    <button type="submit" class="btn btn-dark">Отправить</button>
  </form>
{% endblock content %}