{% extends "base.html" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
<div class="container py-5 h-100 w-50">
    <div class="card shadow-2-strong bg-dark" style="border-radius: 1rem;">
        <div class="card-body p-5" style="color: #DCDCDC">
            <h2 class="text-center">Создание группы</h2>
            <form method="post" enctype="multipart/form-data">
                {% with form=form %}
                  {% include "includes/form.html" %}
                {% endwith %}
                <button style="width: 100%" type="submit" class="btn btn-outline-light mb-2 mt-1">Создать</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}