{% extends "base.html" %}
{% load static %}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
<div>
    <h1 style="text-align:center">{{ title }}</h1>
    <hr>
    <div class="row">
        {% for sb in submissions %}
        <a href="{% url "submissions:submission-detail" sb.id %}" style="text-decoration:none;">
            <p>{{ sb.created_at }}</p>
            <textarea id="id_code_{{ sb.id }}">{{ sb.code }}</textarea>
        </a>
        <script>
            var editor = CodeMirror.fromTextArea(document.getElementById("id_code_{{ sb.id }}"), {
                mode: "python",
                lineNumbers: true,
                autoCloseBrackets: true,
                matchBrackets: true,
                lineWrapping: true,
                indentUnit: 4,
                theme: "dracula",
            });
        </script>
        {% empty %}
        <p>У вас пока нет решений</p>
        {% endfor %}
    </div>
</div>
{% endblock content %}